[Desktop Entry]
Version=1.0
Exec=/home/empad/Desktop/empadgui_cu-master/LaunchPADGUI.sh
Icon=/home/empad/Desktop/empadgui_cu-master/EMPAD.png
Name=Launch PADGUI
GenericName=PADGUI
Comment=Launch PADGUI
Terminal=false
Type=Application
Categories=Application;Network;
