[Desktop Entry]
Version=1.0
Exec=/home/empad/Desktop/MCao_PADGUI/LaunchPADGUI.sh
Icon=/home/empad/Desktop/MCao_PADGUI/EMPAD.png
Name=Launch MCCPADGUI
GenericName=PADGUI
Comment=Launch PADGUI
Terminal=false
Type=Application
Categories=Application;Network;
